= link_to article_path(article), {:style=>'color:black;text-decoration:none;'} do
  .card
    .user_info
      .user_avatar
        = image_tag article.user.avatar_image, class: 'article_user_avatar'
      .user_name
        = article.author_name 
      .post_time
        = date_format(article.created_at)
    .card_bucket_list
      .card_title
        %div.title
          ・My Bucket List
        %div.bucket_list
          = article.title
        = image_tag article.picture, class: 'bucket_list_image'
      .card_iteam
        - if user_signed_in?
          - if current_user.has_liked?(article)
            .card_heart
              = link_to article_like_path(article), data: { method: 'delete' } do
                = image_tag 'heart.png', class: 'heart_mark'
          - else
            .card_heart
              = link_to article_like_path(article), data: { method: 'post' } do
                = image_tag 'heart1.png', class: 'heart_mark'
        %span.number= article.like_count
        .card_comment
          = image_tag 'comment.png', class: 'comment_mark'
          %span.number= 8