.container
  %ul
    - article.errors.full_messages.each do |message|
      %li= message

  = form_with(model: article, local: true) do |f|
    %div
      = f.label :title, '・My Bucket List (人生で一度はしてみたいこと)', class: 'title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :reason, '・Reason (理由)', class: 'title'
    %div
      = f.text_area :reason, class: 'text'
    %div
      = f.label :necessary_stuff, '・Necessary Stuff (必要なモノ)', class: 'title'
    %div
      = f.rich_text_area :necessary_stuff, class: 'text'
    %div
      = f.label :expiration, '・Expiration (期限) ', class: 'title'
    %div
      = f.date_field :expiration, class: 'text'
    %div
      = f.label :picture, '・Imagination Picture (写真)', class: 'title'
    %div
      = f.file_field :picture, class: 'text'
    %div
      = f.label :achievement_flag, '・Achievement Flag (達成フラグ)', class: 'title'
    %div
      = f.select :achievement_flag, Article.achievement_flags.keys, {}, { class: 'text'}
    = f.submit 'Submit', class: 'btn-primary'