.container
  %ul
    - article.errors.full_messages.each do |message|
      %li= message

  = form_with(model: article, local: true) do |f|
    %div
      = f.label :title, '・My Bucket List', class: 'title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :reason, '・理由', class: 'title'
    %div
      = f.text_area :reason, class: 'text'
    %div
      = f.label :necessary_stuff, '・必要なもの', class: 'title'
    %div
      = f.rich_text_area :necessary_stuff, class: 'text'
    %div
      = f.label :expiration, '・期限', class: 'title'
    %div
      = f.date_field :expiration, class: 'text'
    %div
      = f.label :achievement_flag, '・達成フラグ', class: 'title'
    %div
      = f.select :achievement_flag, Article.achievement_flags.map { |k, v| [ I18n.t("enum.achievement_flags.#{k}"), k ] }, {}, { class: 'text'}
    = f.submit 'Submit', class: 'btn-primary'