.card#article-show{data: {article_id: @article.id}}
  .user_info
    .user_avatar
      = link_to account_path(@article.user) do
        = image_tag @article.user.avatar_image, class: 'article_user_avatar' 
    .user_name
      = @article.author_name 
    .post_time
      = @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      .dropdown
        = image_tag 'shape.png', class: 'dropbtn'
        .dropdown-content.mini1
          = link_to 'Edit', edit_article_path(@article), {:style=>'text-decoration:none;'}
          = link_to 'Delete', article_path(@article), {style:'text-decoration:none;', method: 'delete', confirm: 'Are you sure?'}
  .card_bucket_list
    .card_detail
      %div.title
        ・My Bucket List 
      %div.content
        = @article.title
      %div.title
        ・Reason
      %div.content
        = @article.reason
      %div.title
        ・Necessary Stuff 
      %div.content
        = @article.necessary_stuff
      %div.title
        ・Expiration
      %div.content
        Until #{@article.expiration}
      %div.bucket_list_image
        = image_tag @article.picture, class: 'bucket_list_image'
    .card_iteam
      - if user_signed_in?
        .card_heart.hidden.active-heart
          = image_tag 'heart.png', class: 'heart_mark'
        .card_heart.hidden.inactive-heart
          = image_tag 'heart1.png', class: 'heart_mark'
      %span.number= @article.like_count
      .card_comment
        = image_tag 'comment.png', class: 'comment_mark'
        %span.number= @article.comments.count
      
= javascript_pack_tag 'article'   


.article
  %h4 Comments
  .comment_btn
    %p.figure= @article.comments.count
    = link_to new_article_comment_path(@article) do
      .btn-secondary{style:'text-decoration:none;'}
        Comment Add
  - @comments.each do |comment|
    .article_comment
      %p= image_tag comment.article.user.profile.avatar, class:'comment_user_avatar'
      %p.comment_content= comment.content
    .dropdown
      = image_tag 'shape.png', class:'comment_mark'
      .dropdown-content.mini2
        = link_to 'Edit', edit_article_comment_path(@article, comment.id), {style:'text-decoration:none;color:black;'}
        = link_to 'Delete', article_comment_path(@article, comment.id), { method: 'delete', confirm: 'Are you sure?', style: 'text-decoration:none;color:black;'}
  