.card1#article-show{data: {article_id: @article.id}}
  .user_info
    .user_avatar
      = link_to account_path(@article.user) do
        = image_tag @article.user.avatar_image, class: 'article_user_avatar' 
    .user_name
      = @article.author_name 
    .post_time
      = @article.display_created_at
  - if user_signed_in? && @article.user == current_user
    .dropdown
      = image_tag 'shape.png', class: 'dropbtn'
      .dropdown-content.mini1
        = link_to '編集', edit_article_path(@article), {:style=>'text-decoration:none;'}
        = link_to '削除', article_path(@article), {style:'text-decoration:none;', method: 'delete', confirm: 'Are you sure?'}
  .card_bucket_list
    .card_detail
      %div.title
        ・My Bucket List 
      %div.content
        = @article.title
      %div.title
        ・理由
      %div.content
        = @article.reason
      %div.title
        ・必要なもの
      %div.content
        = @article.necessary_stuff
      %div.title
        ・期限
      %div.content
        #{@article.expiration} までに
    .card_iteam
      - if user_signed_in?
        .card_heart.hidden.active-heart
          = image_tag 'heart.png', class: 'heart_mark1'
        .card_heart.hidden.inactive-heart
          = image_tag 'heart1.png', class: 'heart_mark1'
      
= javascript_pack_tag 'article'   