.card
  .user_info
    .user_avatar
      = image_tag 'hot.jpg', class: 'article_user_avatar'
    .user_name
      = @article.author_name 
    .post_time
      = @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      .dropdown
        = image_tag 'shape.png', class: 'dropbtn'
        .dropdown-content.mini1
          = link_to 'Edit', edit_article_path(@article), {:style=>'text-decoration:none;'}
          = link_to 'Delete', article_path(@article),  {:style=>'text-decoration:none;'},  {}, { method: 'delete'}
  .card_bucket_list
    .card_detail
      %div.title
        ・My Bucket List 
      %div.content
        = @article.title
      %div.title
        ・Reason
      %div.content
        = @article.reason
      %div.title
        ・Necessary Stuff 
      %div.content
        = @article.necessary_stuff
      %div.title
        ・Expiration
      %div.content
        Until #{@article.expiration}
      %div.bucket_list_image
        = image_tag @article.picture, class: 'bucket_list_image'
    .card_iteam
      .card_heart
        = image_tag 'heart.png', class: 'heart_mark'
        %span.number= 7
      .card_comment
        = image_tag 'comment.png', class: 'comment_mark'
        %span.number= 8
      