= link_to article_path(article), {:style=>'color:black;text-decoration:none;'} do
  .card1
    .user_info
      .user_avatar
        = image_tag article.user.avatar_image, class: 'article_user_avatar'
      .user_name
        = article.author_name 
      .post_time
        = date_format(article.created_at)
    .card_bucket_list
      .card_title
        %div.title
          ・My Bucket List
        %div.bucket_list
          = article.title
      .card_iteam1
        .card_heart
          = image_tag 'heart1.png', class: 'heart_mark'
          %span.number0= article.like_count