.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image, class: 'user_image'
    .profilePage_user_name
      = user.user_name
    .profilePage_user_actionButton
      - if user_signed_in? && user == current_user 
        = link_to 'プロフィール編集', edit_profile_path, {class: 'profile-edit-btn', :style=>'text-decoration:none;'}
      - else 
        - if current_user&.has_followed?(user)
          = render 'accounts/unfollow'
        - else 
          = render 'accounts/follow'
  .profilePage_user_private_info
    .profilePage_user_birthday
      %i.fas.fa-birthday-cake
      %p.birthday 
        = user.birthday || 'Undifine'
    .profilePage_user.location
      %i.fas.fa-location-arrow
      %p.location 
        = user.location || 'Undifine'
  .profilePage_user_bio
    = user.profile&.bio
  .profilePage_user_info_figures
    %p.posts= @user&.articles&.count || current_user.articles.count 
    %p.achieved= @user&.achieved_articles&.count || current_user.achieved_articles.count 
    %p.following= @user&.followings&.count || current_user.followings.count
    %p.follower= @user&.followers&.count || current_user.followers.count
  .profilePage_user_info_title
    %p= link_to 'Posts', {}, {:style=>'text-decoration:none;color:black;'}
    %p= link_to 'Achieved', account_achieved_article_list_index_path(user), {:style=>'text-decoration:none;color:black;'} 
    %p= link_to 'Following', account_following_path(user), {:style=>'text-decoration:none;color:black;'}
    %p= link_to 'Follower', account_follower_path(user), {:style=>'text-decoration:none;color:black;'}

  - user.articles.each do |article|
    = render 'commons/article', article: article

  