.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, '・E-mail', class:'text'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'box'
    .field
      = f.label :password, '・Password', class:'text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'box'
    .links 
      = render 'devise/shared/links', {style:'text-decoration:none;color:black;'}

    .actions
      = f.submit "Login", class: 'btn-primary'